.btn {
	$btn-height: 40px;

	display: inline-block;
	height: $btn-height;
	width: $btn-height;
	line-height: $btn-height;
	margin: 0;
	padding: 0;
	margin-right: -6px;
	border: none;

	&:hover {
		background-color: #fff;
		border: 3px solid green;
	}

	&:active {
		background-color: #0ff;
	}
}