@font-face {
  font-family: 'FeltTipWoman';
  src: url('../fonts/FeltTipWoman/FeltTipWoman.woff') format('woff');
}
@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight/NexaLight.woff') format('woff');
}
@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.woff') format('woff');
}
@-moz-keyframes logo {
		from {
			transform: rotate(0) scale(0);
		}

		to {
			transform: rotate(0) scale(1);
		}
	}
	.logo {
		animation: logo 1.5s;
	}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.box {
	height: 100vh;
	padding: 0 3.5%;
	font-size: 3vh;
	position: relative;
	text-align: center;
}
.box--home {
	background-image: url(../img/background_home.png);
	background-size: cover;

}
.nav {
	display: flex;
	height: 9.26vh;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	border-bottom: 1px solid #fff;
}
.nav__item {
	list-style: none;
	margin: 0 1.3%;
	font-size: 1em;
	font-family: NexaLight;
	color: #f1f1f1;
	text-transform: uppercase;
	display: block;
}
.nav__link {
	color: #f1f1f1;
	text-decoration: none;
	transition: transform .5s, color 0;
}
.nav__item:hover {
	transform: scale(1.2);
}

.img-logo {
	margin-top: 14vh;
	height: 43.98vh;
	display: inline-block;
	margin-bottom: 5vh;
}

.main-heading {
	color: #f1f1f1;
	font-family: NexaLight;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
.main-heading span {
	font-family: NexaBold;
}

.next-page {
	font-family: NexaBold;
	color: #f1f1f1;
	text-transform: uppercase;
	font-size: 0.75em;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 9vh;
	left: 0;
	right: 0;
}
.next-page__arrow:after {
	content: ' ';
	display: inline-block;
	left: calc(50% - 2vh);
	top: 2.7vh;
	position: absolute;
	border-left: 3px solid #f1f1f1;
	border-bottom: 3px solid #f1f1f1;
	transform: rotate(-45deg);
	width: 3vh;
	height: 3vh;
}
.next-page__arrow:before {
	content: ' ';
	display: inline-block;
	left: calc(50% - 2vh);
	top: 4.7vh;
	position: absolute;
	border-left: 3px solid #f1f1f1;
	border-bottom: 3px solid #f1f1f1;
	transform: rotate(-45deg);
	width: 3vh;
	height: 3vh;
}

.box--about-me {
	text-align: center;
}
.nav--gray {
	color: #cecece;
	border-bottom: 1px solid #bebebe;
}
.nav__link--gray {
	color: #cecece;
}
.about-me {
	display: flex;
	height: 64.81vh;
	margin-top: 6vh;
}
.about-me__photo {
	text-align: right;
	width: 50%;
}
.about-me__info {
	text-align: left;
	padding-left: 2.6%;
	color: #202020;
	width: 35%;
	align-self: center;
}
.opensans {
	font-family: 'Open Sans', sans-serif;
}
.about-me__info .main-heading {
	color: #202020;
}
.about-me__photo img {
	height: 100%;
}
.about-me__info--name {
	font-size: 1.5em;
	font-family: FeltTipWoman;
}
.next-page--gray {
	color: #bebebe;
}
.next-page--gray .next-page__arrow:after {
	content: ' ';
	display: inline-block;
	left: calc(50% - 2vh);
	top: 2.7vh;
	position: absolute;
	border-left: 3px solid #bebebe;
	border-bottom: 3px solid #bebebe;
	transform: rotate(-45deg);
	width: 3vh;
	height: 3vh;
}

.next-page--gray .next-page__arrow:before {
	content: ' ';
	display: inline-block;
	left: calc(50% - 2vh);
	top: 4.7vh;
	position: absolute;
	border-left: 3px solid #bebebe;
	border-bottom: 3px solid #bebebe;
	transform: rotate(-45deg);
	width: 3vh;
	height: 3vh;
}

.box--portfolio {
	background-image: url(../img/background_portfolio.png);
	background-size: cover;
	position: relative;
}
.portfolio {
	width: 100%;
	position: relative;
	margin-top: 8.33vh;
}
.portfolio__item {
	width: 15%;
	display: inline-block;
	padding: 2.5vh;
	margin: 0;
}
.contact {
	margin-top: 12vh;
	color: #202020;
}

.contact h3 {
	font-family: NexaLight;
	font-weight: 900;
	font-size: 1.25em;
	text-transform: uppercase;
}
.mail {
	font-family: NexaLight;
	font-size: 2.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #202020;
}

.tel {
	font-family: NexaLight;
	font-size: 2em;
	color: #202020;
	text-decoration: none;
}

.footer {
	border-top: 1px solid #bebebe;
	height: 9.26vh;
	position: absolute;
	width: 93%;
	bottom: 0;
}
.footer p {
	font-family: NexaLight;
	font-size: 0.75em;
	text-transform: uppercase;
	color: #bebebe;
}