
$icon-chat: "\EA01" !default;

$icon-cloud: "\EA02" !default;

$icon-facebook: "\EA03" !default;

$icon-linkedin-button: "\EA04" !default;

$icon-little-logo: "\EA05" !default;

$icon-logo: "\EA06" !default;

$icon-male: "\EA07" !default;

$icon-play-button-silhouette: "\EA08" !default;

$icon-strawberry: "\EA09" !default;

$icon-suitcase: "\EA0A" !default;

$icon-tag: "\EA0B" !default;

$icon-twitter: "\EA0C" !default;