.header {
    margin-top: 20px;
    margin-bottom: -10px;
}

.header .caret {
    margin-right: 1%;
}

.space {
    margin-right: 6px;
}

.italic {
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.header .glyphicon {
    margin-left: 12px;
}

.header .pull-right img {
    margin-left: 36px;
}

.container .row p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #787878;
}

.logo .row div span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    line-height: 1em;
}

nav {
    margin: 40px -80px 20px -40px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul li a span {
    color: #9a2722;
}

.background1 {
    height: 600px;
    background-image: url("../img/background1.png");
    padding-top: 260px;
}

.background1 p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.background1 h2 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 90px;
    text-transform: uppercase;
}

.background1 button {
    border-radius: 0;
    background: transparent;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    padding: 20px 60px 20px 60px;
    font-weight: 100;
    text-shadow: none;
}

.background2 {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.04);
}

.background2 .women {
    height: 400px;
    background: url("../img/background2.png") -400px 0;
}

.background2 h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.background2 p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 110%;
}

.background2 p span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 42px;
}

.background2 button {
    border-radius: 0;
    border-color: black;
    background: transparent;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    padding: 20px 60px 20px 60px;
    font-weight: 100;
    text-shadow: none;
    text-transform: uppercase;
}

.mainBanner {
    margin-bottom: 50px;
}

.slot1 {
    height: 535px;
    background: url("../img/slot1.png") -500px -30px;
    display: inline-block;
}

.slot2 {
    height: 535px;
    background: url("../img/slot2.png");
    display: inline-block;
}

.slot3 {
    margin-top: 20px;
    height: 420px;
    display: inline-block;
    background: url("../img/slot3.png") -190px 0;
}

.slot4 {
    height: 300px;
    display: inline-block;
}

.slot5 {
    height: 675px;
    display: inline-block;
    background: url("../img/slot5.png") -170px 0;
}

#test {
    margin-top: 125px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slot3 h3 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slot3 button {
    border-radius: 0;
    background: transparent;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 50px;
    padding: 20px 45px 20px 45px;
    font-weight: 100;
    text-shadow: none;
}

.slot1, .slot2, .slot3, .slot4, .slot5 {
    position: relative;
}

.rectangle {
    height: 70px;
    padding-top: 22px;
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rectangle-top {
    position: static;
    width: auto;
}

.rectangle span {
    color: #9a2722;
}

.rectangle-bot:before {
    content: "";
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    left: calc(50% - 8px);
    top: -9px;
    transform: rotate(45deg);
}

.rectangle-top:before {
    content: "";
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    left: calc(50% - 8px);
    top: 62px;
    transform: rotate(45deg);
}

.titleCollection {
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

.newCollection .container img {
    display: inline-block;
    width: 217px;
}

.newCollection {
    background-color: #f8f8f8;
}

.contacts {
    margin-top: 70px;
    margin-bottom: 85px;
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: #f8f8f8;
}

.contacts {
    color: #999999;
}

.contacts h5 {
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contacts p {
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 55px;
}

.contacts button {
    border-radius: 0;
    background: transparent;
    color: #999999;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    padding: 10px 35px 10px 35px;
    font-weight: 100;
    text-shadow: none;
}

footer .container * {
    display: inline-block;
}

footer .container .registration {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 20px;
}

footer .container input {
    height: 50px;
    width: 405px;
    margin-right: 10px;
}

footer .container .btn-default {
    height: 50px;
    width: 200px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    border-color: #1a0000;
    border-radius: 0;
    background: #1a0000;
    margin-right: 80px;
}

footer .container .btn-default img {
    margin-right: 20px;
}

footer .row p {
    display: block;
    font-style: italic;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

footer .row p span {
    display: block;
    font-style: italic;
    color: #b8b8b8;
    font-weight: 100;
    letter-spacing: 1px;
}

footer .row {
    height: 50px;
    position: absolute;
}

.end {
    height: 50px;
    background-color: #1a0000;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.end * {
    color: white;
}


