.foreword__switch {
	float: right;
	width: 46px;
	margin-right: 25px;

	.switch-item {
		position: relative;
		width: 5px;
		height: 5px;
		display: inline-block;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 5px;
			height: 5px;
			background-color: rgba(80, 80, 80, 0.3);
		}

		&.switch-item--active {
			&:after {
				content: '';
				width: 5px;
				height: 5px;
				background-color: rgba(80, 80, 80, 0.5);
			}
		}
	}
}

.foreword__heading {
	float: left;
	width: 220px;
	font-family: 'Agfatumc';
	font-size: 15px;
	color: #343434;
	text-transform: uppercase;
	letter-spacing: 6px;
	line-height: 25px;
}

.foreword__paragraph {
	display: none;
	width: 530px;
	overflow: hidden;
	font-family: 'Agavalanchec';
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 280px;

	&.foreword__paragraph--active {
		display: block;
	}
}

.foreword__biography {
	font-size: 10.02px;
	font-family: 'Agavalanchec';
	font-weight: bold;
	line-height: 21.04px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-left: 280px;
	padding-bottom: 80px;
	cursor: pointer;

	&:after {
		content: '\e903';
		font-size: 4px;
		font-family: 'icomoon';
		vertical-align: middle;
		padding-left: 20px;
	}
}