
@font-face {
 font-family: 'myiconic';
 src:url("../fonts/myiconic.eot");
 src:url("../fonts/myiconic.?#iefix") format("embedded-opentype"),
   url("../fonts/myiconic.woff") format("woff"),
   url("../fonts/myiconic.ttf") format("truetype"),
   url("../fonts/myiconic.#myiconic") format("svg");
 font-weight: normal;
 font-style: normal;
}

.icon {
 font-family: 'myiconic';

 &:before {
  font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }

 &.icon-avocado {
   &:before {
     content: $icon-avocado;
   }
 }
 &.icon-chevron {
   &:before {
     content: $icon-chevron;
   }
 }
 &.icon-clock {
   &:before {
     content: $icon-clock;
   }
 }
 &.icon-cloud {
   &:before {
     content: $icon-cloud;
   }
 }
 &.icon-communication {
   &:before {
     content: $icon-communication;
   }
 }
 &.icon-drop {
   &:before {
     content: $icon-drop;
   }
 }
 &.icon-facebook {
   &:before {
     content: $icon-facebook;
   }
 }
 &.icon-linkedin {
   &:before {
     content: $icon-linkedin;
   }
 }
 &.icon-man {
   &:before {
     content: $icon-man;
   }
 }
 &.icon-strawberry {
   &:before {
     content: $icon-strawberry;
   }
 }
 &.icon-suitcase {
   &:before {
     content: $icon-suitcase;
   }
 }
 &.icon-tag {
   &:before {
     content: $icon-tag;
   }
 }
 &.icon-twitter {
   &:before {
     content: $icon-twitter;
   }
 }
 &.icon-youtube {
   &:after {
     content: $icon-youtube;
   }
 }

}