
$icon-avocado: "\EA01" !default;

$icon-chevron: "\EA02" !default;

$icon-clock: "\EA03" !default;

$icon-cloud: "\EA04" !default;

$icon-communication: "\EA05" !default;

$icon-drop: "\EA06" !default;

$icon-facebook: "\EA07" !default;

$icon-linkedin: "\EA08" !default;

$icon-man: "\EA09" !default;

$icon-strawberry: "\EA0A" !default;

$icon-suitcase: "\EA0B" !default;

$icon-tag: "\EA0C" !default;

$icon-twitter: "\EA0D" !default;

$icon-youtube: "\EA0E" !default;