* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	background-color: #f9f9f9;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-content {
	overflow: auto;
	padding-left: 20%;
}

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 20%;
	background-color: #2b2f3e;
}

.main-nav__heading {
	padding: 30px 30px 75px 30px;
	font-size: 2.25rem;
	color: #565a69;
}

.main-menu {
	list-style-type: none;
	padding: 0;
}

.main-menu__item {
	margin: 0;
	font-size: 1.125rem;
	color: #fff;
	padding: 1.375rem 1.7rem;
	background-color: #ff2f5a;
}

.news__wrapper,
.comments-wrapper {
	float: left;
	width: 47%;
	margin: 2rem 1% 1% 2%;
	padding: 1.25rem;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.comments-wrapper {
	margin-left: 1%;
}

.news__heading,
.comments__heading {
	font-size: 2.25rem;
	font-weight: lighter;
	color: #565a69;
	font-family: inherit;
}

.news__add-new-wrapper {
	margin-top: 1.25rem;
}

.news__add-new-input {
	width: calc(100% - 140px);
	height: 2.3rem;
	padding: 0 0.625rem;
	color: inherit;
	margin-right: 10px;
	float: left;
	border: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-color: #ccc;
}

.news__add-new-btn {
	width: 130px;
	height: 37px;
	background-color: #27ccc0;
	color: #fff;
	font-weight: 500;
	text-align: center;
	float: left;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	transition: all 0.2s;
}

.news__add-new-btn:hover {
	background-color: #fff;
	color: #27ccc0;
	border: 1px solid #27ccc0;
}

.news__items {
	list-style-type: none;
	padding: 0;
}

.news__item {
	margin: 1.25rem 0;
	height: 3.4rem;
  line-height: 3.4rem;
}

.items--active {
	position: relative;
}
.items--active:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  right: 100%;
  width: 4px;
  background-color: red;
  margin-right: 1rem;
}

.news__delete {
	float: right;
	max-width: 100px;
	height: 2.125rem;
	background-color: transparent;
	color: #ff305a;
	font-weight: lighter;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	width: 6rem;
	margin-top: 0.6375rem;
	border: 1px solid #ff305a;
	transition: all 0.2s;
}

.news__delete:hover {
	background-color: #ff305a;
	color: #fff;
}

.news__count-bage {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.25rem;
	background-color: #27ccc0;
	border-radius: 1.25rem;
	padding: 0.2rem 0.6rem;
	margin-left: 1.75rem;
}

.news__name {
	font-weight: 500;
	color: #2b2f3e;
	max-width: calc(100% - 11rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
	float: left;
}

.comments__items {
	list-style-type: none;
	padding: 0;
}

.comments__item {
	padding: 0.875rem 0 1.375rem 0;
	border-bottom: 1px solid #f2f2f2;
}

.comments__photo {
	float: left;
	width: 52px;
	height: 52px;
	margin-right: 14px;
	background-color: #ff8a00;
}
.comments__item:nth-child(odd) .comments__photo {
	background-color: #47568c;
}

.comments__text {
	overflow: auto;
	margin: 0;
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.comments__new-comment-area {
	min-width: calc(100% - 66px);
	max-width: calc(100% - 66px);
}

.comments__new-comment-wrapper {
	position: relative;
}

.comments__new-comment-btn {
	position: absolute;
	right: 5px;
	bottom: 10px;
	background-color: #27ccc0;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	transition: transform .2s;
}
.comments__new-comment-btn:hover {
	transform: rotate(45deg);
}




