@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: Futura Md;
    src: url(../fonts/Futura%20Md.ttf);
}
@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri.ttf);
}
@font-face {
    font-family: Trebuchet MS;
    src: url(../fonts/Trebuchet%20MS.ttf);
}
@font-face {
    font-family: FuturaBT;
    src: url(../fonts/futurabt-book-opentype.otf);
}
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadProRegular.ttf);
}
body{
    width: 1300px;
    height: 100%;
}

.header {
    margin-bottom: 37px;
}
.header_logo{
    display: inline-block;
    position: relative;
    left: 188px;
    top:37px;
}
.header_menu{
    display: inline-block;
    position: relative;
    left: 345px;
    top:37px;
}
.header_menu_link{
    font-family: "OpenSans-Regular";
    color: #adadad;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px 40px 15px;
    border: 4px solid transparent;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition: border-bottom 0.3s linear, color 0.3s linear;
}
.header_menu_link:hover {
    color: #2098d1;
    font-weight: 700;
    border-bottom: solid #2098d1 4px;
}
.main {
    width: 100%;
    height: 540px;
    background-image: url("../images/Rectangle.png");
    background-size: 100%;
    position: relative;
}
.main p {
    color: white;
    text-align: center;
}
.pFirst {
    font-size: 36px;
    font-family: "OpenSans-Regular";
    position: relative;
    top: 130px;
}
.pSecond {
    font-family: "Futura Md";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    position: relative;
    top: 90px;
}
.pThird {
    font-size: 20px;
    font-family: "Calibri";
    font-style: italic;
    position: relative;
    top: 70px;
}
.button {
    display: inline;
    color: white;
    left: 540px;
    position: relative;
    top: 70px;
    background: transparent;
    height: 60px;
    width: 240px;
    border: none;
    border-left: solid white 1px;
    border-right: solid white 1px;
    font-weight: 700;
}
.button:hover {
    border: none;
    border-bottom: solid white 1px;
}
.servises {
    font-family: "Trebuchet MS";
}
.servises > h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #41525c;

}
.servises_grid {
    text-align: center;
}
.servises_grid_item {
    display: inline-block;
    width: 270px;
    margin-right: 20px;
    font-size: 14px;
    color: #999;
    line-height: 1.786;
    font-family: "OpenSans-Regular";
}
.servises_grid h2 {
    font-size: 30px;
    font-family: "FuturaBT";
    font-weight: normal;
    color: #3070a8;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.1em;
}

.lorem_is {
    background-image: url("../images/middle_fon.png");
    background-size: 100%;
    padding: 40px 0 40px 250px;
}
.lorem_is h2 {
    text-transform: uppercase;
    color: rgb(236, 129, 54);
    font-family: FuturaBT;
    font-size: 26px;
    line-height: 2.2;
}
.lorem_is p {
    color: white;
    font-style: italic;
    font-size: 19px;
    font-family: "OpenSans-Regular";
}
.lorem_is li {
    margin: 10px;
    width: 604px;
    font-size: 14px;
    color: #9d9d9d;
    font-family: "OpenSans-Regular";
    line-height: 2.2;
}

li.blue_list {
    color: rgb(48, 112, 168);
}

.contact,
.map {
    display: inline-block;
}
.map {
    float: right;
}
.contact{
    padding-left: 150px;
    padding-top: 30px;
}
.gps img,
.phone img,
.mail img {
    float: left;
}
.gps p,
.phone p,
.mail p {
    margin-left: 50px;
}
.gps,
.phone,
.mail {
    padding-bottom: 2px;
}
.soc img {
    margin-right: 10px;
}

footer p {
    text-align: center;
}
footer a {
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
}
footer a:hover {
    color: white;
}
footer {
    padding: 10px 0 10px 0;
    background-color: rgb(48, 112, 168);
    margin-top: 5px;
    color: white;
    font-family: "Comic Sans MS";
}
