.container {
	width: 1160px;
	margin: 0 auto;
	overflow: hidden;
}
.container__box {
	float: left;
	width: 280px;
	padding: 110px 0;
	color: $text-color-white;
	h2 {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		color: $text-color-white;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.container__col-1-3 {
	float: left;
	width: 33%;
	height: 395px;
	padding: 25px 50px;
	position: relative;

	&.bg-none {
		background-color: #fff;
		text-align: center;
	}

	.heading--red {
		color: $text-color-red;
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
	}
	.heading-green {
		color: $text-color-green;
		font-size: 35px;
		position: relative;
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		text-transform: uppercase;
	}

	p {
		color: $text-color-grey;
		font-size: 14px;
		line-height: 26px;
	}

	&.bg-green {
	background-color: $text-color-green;
	padding: 55px 65px 0 40px;
	color: $text-color-white;
	h3 {
		padding: 0;
		margin: 0;
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		font-size: 35px;
		font-weight: lighter;
		padding: 0;
		margin: 0;
	}
	p {
		line-height: 25px;
		color: $text-color-white;
	}
}
}
.container__col-2-3 {
	float: left;
	position: relative;
	width: 66%;
	height: 395px;
	padding: 55px 70px 0 40px;

	.heading--red {
		color: $text-color-red;
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
	}
	.heading-green {
		color: $text-color-green;
		font-size: 35px;
		position: relative;
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		text-transform: uppercase;
	}

	p {
		color: $text-color-grey;
		font-size: 14px;
		line-height: 26px;
	}

	.bg-green {
	background-color: $text-color-green;
	padding: 65px 108px 0 60px;
	color: $text-color-white;

	h2 {
		text-transform: uppercase;
		font-size: 40px;
	}
	p {
		line-height: 25px;
	}
}

}

.col1 {
	background-image: url(../img/background-col1.jpg);
	background-size: cover;
	div {
		position: absolute;
		right: 70px;
		bottom: 50px;
		color: $text-color-red;
		font-size: 12px;

		span {
			color: $text-color-white;
		}
	}
}

.col2 {
	background-image: url(../img/background-col2.jpg);
	background-size: cover;
	div {
		position: absolute;
		left: 70px;
		bottom: 50px;
		color: $text-color-red;
		font-size: 12px;

		span {
			color: $text-color-white;
		}
	}
}

.col3 {
	background-image: url(../img/background-col3.jpg);
	background-size: cover;
	height: 330px;
}
.col310 {
	height: 310px;
}
.bg-white {
	background-color: $text-color-white;
}
.col4 {
	background-image: url(../img/background-col4.jpg);
	background-size: cover;
	height: 330px;
}
.bg-green {
	background-color: $text-color-green;
	padding: 65px 108px 0 60px;
	color: $text-color-white;

	h2 {
		text-transform: uppercase;
		font-size: 40px;
	}
	p {
		line-height: 25px;
	}
}
.col5 {
	background-image: url(../img/background-col5.jpg);
	background-size: cover;
	height: 330px;
}
.col6 {
	background-image: url(../img/background-col6.jpg);
	background-size: cover;
	height: 330px;
}