@mixin css-triangle(
  $triangle-size:$triangle-size,
  $triangle-color:$triangle-color,
  $triangle-direction:$triangle-direction
) {
	position: relative;
  &:after{
	  content: '';
	  display: block;
	  position: absolute;
	  width: 0;
	  height: 0;
	  border: inset $triangle-size;

	  @if ($triangle-direction == down) {
	    border-color: $triangle-color transparent transparent;
	    border-top-style: solid;
	    border-bottom-width: 0;
	    top: 100%;
	    left: 50%;
	    margin-left: -$triangle-size;
	  }
	  @if ($triangle-direction == up) {
	    border-color: transparent transparent $triangle-color;
	    border-bottom-style: solid;
	    border-top-width: 0;
	    bottom: 100%;
	    left: 50%;
	    margin-left: -$triangle-size;
	  }
	  @if ($triangle-direction == right) {
	    border-color: transparent transparent transparent $triangle-color;
	    border-left-style: solid;
	    border-right-width: 0;
	    left: 100%;
	    top: 50%;
	    margin-top: -$triangle-size;
	  }
	  @if ($triangle-direction == left) {
	    border-color: transparent $triangle-color transparent transparent;
	    border-right-style: solid;
	    border-left-width: 0;
	    right: 100%;
	    top: 50%;
	    margin-top: -$triangle-size;
	  }
	}
}

@mixin vertical-align {
    position: absolute;
  	top: 50%;
    transform: translate(0, -50%);
}