<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Empeek</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
</head>
<body ng-controller="NewsAppController">

<nav class="main-nav">
	<div class="main-nav__heading">Main</div>
	<ul class="main-menu">
		<li class="main-menu__item">Overview</li>
	</ul>
</nav>

<div class="main-content clearfix">
	<div class="news__wrapper">

		<h2 class="news__heading">Items</h2>

		<div class="news__add-new-wrapper clearfix">

			<form ng-submit="addNews()">
				<input type="text" ng-model="newNews" class="news__add-new-input">
				<button class="news__add-new-btn">Add new</button>
			</form>

		</div>

		<ul class="news__items">
			<li ng-click="setActive(item)" ng-repeat="item in news track by $index" class="news__item" ng-class="(item.isActive) ? 'items--active' : ''">
				<span  class="news__name" >{{item.name}}</span>
				<span class="news__count-bage">{{item.comments.length}}</span>
				<button class="news__delete" ng-click="deleteItem($index)">Delete</button>
			</li>
		</ul>


	</div>

	<div ng-repeat="item in news track by $index">

		<div class="comments-wrapper" ng-if="item.isActive">
			<h2 class="comments__heading">Comments #{{$index + 1}}</h2>

			<ul class="comments__items">

				<li class="comments__item clearfix" ng-repeat="comment in item.comments track by $index">
					<div class="comments__photo"></div>
					<p class="comments__text">{{comment.comment}}</p>
				</li>

			</ul>

			<div class="comments__new-comment-wrapper">

				<div class="comments__photo"></div>
				<form ng-submit="addComment(item, newComment); newComment=''" >
					<textarea name="new-comment" ng-model="newComment" rows="5" class="comments__new-comment-area"></textarea>
					<button class="comments__new-comment-btn">+</button>
				</form>
			</div>

		</div>

	</div>

</div>


	<script src="app.js"></script>
</body>
</html>