body {
  background: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  min-width: 840px;
}
.row {
	width: 840px;
	height: 500px;
  margin: 100px auto;
  background: #fff;
  border-top: 2px solid #e62b1e;
  border-bottom: 2px solid #bcbcbc;
  padding-bottom: 40px;
}
.registration {
	background-color: #f3f3f3;
	height: 330px;
	padding: 0 0 35px 0;
}
.row h2 {
	text-align: center;
	padding: 20px 0 0 0;
	color: #333333;
}
.col {
	width: 45%;
	padding: 10px 2%;
	margin-top: 40px;
	display: inline-block;
}
.left {
	text-align: center;
	position: relative;
	top: -175px;
}
.right {
	border-left: 1px solid #cfcfcf;
}
.right form {
	position: relative;
	top: -13px;
	padding-left: 35px;
}
form .input {
	height: 40px;
	width: 300px;
	margin: 5px 0;
	font-size: 20px;
}
label div {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
}
.myclass {
	margin-top: 25px;
}
#remember {
	margin-top: 25px;
	background: #ff0000;
}

.help {
	float: right;
	padding-top: 17px;
	font-size: 15px;
	color: #252525;
	font-weight: bold;
}

.row p {
	text-align: center;
	color: #666666;
}
.row p a {
	color: #000000;
	font-weight: bold;
}

.btn {
	border: 0;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
  width: 300px;
	height: 40px;
	text-align: center;
  padding: 0;
  margin: 10px 0;
}
.submit {
  width: 100px;
  background-color: #252525;
  font-weight: bold;
  padding: 0;
  margin: 10px 0;
}
.submit:hover {
	background-color: #666666;
}
.btn span {
  font-size: 16px;
  line-height: 40px;
}
.facebook {
  background-color: #3B5998;
}
.facebook:hover {
	background-color: #385388;
}
.plus {
  background-color: #dd5342;
}
.plus:hover {
	background-color: #cd4c3c;
}
.btn img {
	float: left;
	padding: 10px;
}


@media (max-width: 870px) {
	.row {
		width: 480px;
		height: 660px;
	}
	.registration {
		margin: auto;
		height: 480px;
	}
	.col {
		display: block;
	}
	.col.left {
		border-top: 1px solid #cfcfcf;
		width: 300px;
		top: 360px;
		margin: 0 auto;
		padding-top: 15px;
	}
	.col.right {
		border: none;
		position: relative;
		top: -150px;
		padding-left: 56px;
	}
	.help {
		position: absolute;
		width: 170px;
		left: 177px;
	}
	#remember {
		margin: 10px 0 20px 0;
		background: #ff0000;
	}
}
