.galery {
	margin-left: -4px;
}
.galery__tags {
	float: left;
	width: auto;
	font-family: 'Agavalanchec';
	font-weight: bold;
	font-size: 10.02px;
	letter-spacing: 3px;
	cursor: pointer;

	&:after {
		content: '\e901';
		font-family: 'icomoon';
		font-size: 10px;
		vertical-align: middle;
	}
}

.galery__rectangle {
	float: right;
	width: 9px;
	height: 9px;
	position: relative;
	background-color: #d6dcdd;
	cursor: pointer;

	&:before {
		content: '';
		width: 3px;
		height: 3px;
		position: absolute;
		top: 3px;
		left: 3px;
		background-color: #fff;
	}
	&:after {

	}
}

.galery__rectangle2 {
	float: right;
	width: 11px;
	height: 9px;
	position: relative;
	background-color: #212121;
	margin-left: 19px;
	cursor: pointer;

	&:before {
		content: '';
		width: 3px;
		height: 9px;
		position: absolute;
		left: 4px;
		top: 0;
		background-color: #fff;
	}

	&:after {
		content: '';
		width: 11px;
		height: 3px;
		position: absolute;
		left: 0;
		top: 3px;
		background-color: #fff;
	}
}

.galery__heading {
	overflow: hidden;
	font-family: 'Agfatumc';
	font-size: 15px;
	text-align: center;
	letter-spacing: 6px;
	margin-top: 100px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.galery__biography {
	font-size: 10.02px;
	font-family: 'Agavalanchec';
	font-weight: bold;
	line-height: 21.04px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 100px;

	&:after {
		content: '\e903';
		font-size: 4px;
		font-family: 'icomoon';
		vertical-align: middle;
		padding-left: 20px;
	}
}
.galery__img {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 2px 0 2px 4px;
	position: relative;
	transition: all .3s;

	&:hover .galery__hover {
		width: 100%;
		visibility: visible;
	}

	&.galery__img--lg {
		width: 100%;
	}
}

.galery__hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	visibility: hidden;
	width: 0;
	background-color: rgba(178, 178, 178, .3);
	transition: all .3s;

	.hover__content {
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);

	  .content__heading {
	  	font-family: 'Agfatumc';
	  	font-size: 15px;
	  	color: #f4f4f4;
	  	text-transform: uppercase;
	  	letter-spacing: 3px;
	  	padding-bottom: 35px;
	  	text-align: center;
			width: 250px;
	  }

	  .content__share,
	  .content__watch {
	  	font-family: 'Agavalanchec';
	  	font-weight: bold;
	  	font-size: 10px;
	  	color: #fff;
	  	text-transform: uppercase;
	  	text-align: center;
	  	letter-spacing: 3px;
	  	line-height: 50px;
	  	border: 1px solid #c4c4c4;
	  	border-left: none;
	  	float: left;
	  	width: 50%;
	  	cursor: pointer;
	  	transition: all .3s;

	  	&:before {
	  		content: '\e916';
	  		font-family: 'icomoon';
	  		padding-right: 5px;
	  		font-size: 12px;
	  		vertical-align: middle;
	  	}

	  	&:hover {
	  		background-color: rgba(178, 178, 178, .7);
	  	}
	  }

	  .content__watch {
	  	border-right: none;

	  	&:before {
	  		content: '\e906';
	  		font-size: 8px;
	  	}
	  }
	}
}

.galery__photo {
	width: 100%;
}

.galery__more {
	text-align: center;
	font-family: 'Agavalanchec';
	font-weight: bold;
	font-size: 10.15px;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;
	cursor: pointer;

	&:after {
		content: '. . .';
		letter-spacing: 0;
		top: 0;
		position: relative;
		left: 10px;
		top: -2px;
		padding: 0 8px 5px 8px;
		border: 1px solid #e2e2e2;
		cursor: pointer;
	}
}