*{box-sizing: border-box;}
.main-box {
	margin: 0 auto 20px auto;
	background-color: #3e5b96;
	position: relative;
	width: 400px;
	height: 400px;
}
.main-box__p-a-box {
	position: absolute;
	background-color: #963e40;
	width: 25%;
	height: 25%;
}
.inside-box__t-l {
	top: 0;
	left: 0;
	margin: 4% 0 0 4%;
}
.inside-box__t-r {
	top: 0;
	right: 0;
	margin: 4% 4% 0 0;
}
.inside-box__b-l {
	bottom: 0;
	left: 0;
	margin: 0 0 4% 4%;
}
.inside-box__b-r{
	bottom: 0;
	right: 0;
	margin: 0 4% 4% 0;
}
.outside-box__t-l {
	top: 0;
	right: 100%;
	margin-right: 6%;
}
.outside-box__t-r {
	top: 0;
	left: 100%;
	margin-left: 6%;
}
.outside-box__b-l {
	bottom: 0;
	right: 100%;
	margin-right: 6%;
}
.outside-box__b-r {
	bottom: 0;
	left: 100%;
	margin-left: 6%;
}