.next-page {
	font-family: NexaBold;
	color: #f1f1f1;
	text-transform: uppercase;
	font-size: 0.75em;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 9vh;
	left: 0;
	right: 0;
}

.next-page__arrow:after {
	content: ' ';
	display: inline-block;
	left: calc(50% - 2vh);
	top: 2.7vh;
	position: absolute;
	border-left: 3px solid #f1f1f1;
	border-bottom: 3px solid #f1f1f1;
	transform: rotate(-45deg);
	width: 3vh;
	height: 3vh;
}

.next-page__arrow:before {
	@extend .next-page__arrow:after;
	top: 4.7vh;
}

.next-page--gray {
	color: #bebebe;
	.next-page__arrow:after {
		@extend .next-page__arrow:after;
		border-color: #bebebe;
}

	.next-page__arrow:before {
		@extend .next-page__arrow:before;
		border-color: #bebebe;
	}
}


