@import "partials/normalize";

@import "partials/box";

@import "partials/nav";

@import "partials/nex-page";

@import "partials/about-me";

@import "partials/portfolio";

@import "partials/contact";

@font-face {
  font-family: 'FeltTipWoman';
  src: url('../fonts/FeltTipWoman/FeltTipWoman.woff') format('woff');
}
@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight/NexaLight.woff') format('woff');
}
@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.woff') format('woff');
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.img-logo {
	margin-top: 14vh;
	height: 43.98vh;
	display: inline-block;
	margin-bottom: 5vh;
}
.main-heading {
	color: #f1f1f1;
	font-family: NexaLight;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 100;
	margin: 0;
	padding: 0;

	span {
		font-family: NexaBold;
	}

}








