body {
    padding: 0;
    margin: 0;
}
.commentsBlock {
    background: url("../images/Background.png");
    background-size: cover;
    padding-top: 20px;
    height: 300px;
}
.commentsBlock h2 {
    display: block;
    text-align: center;
    color: rgb(48, 112, 168);
    font-size: 38px;
    font-family: Trebuchet MS;
}
.commentsBlock .orange {
    color: rgb(238, 129, 41);
}
.comments {
    text-align: center;
}
.user {
    display: inline-block;
    position: relative;
    width: 490px;
    height: 100px;
    margin: 10px;
}
.user img,
.user div {
    display: inline-block;
}
.user img {
    float: left;
}
.triangle {
    float:left;
    margin: 30px 0 0 -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color:transparent #fff transparent transparent ;
}
.userComment {
    float: left;
    background-color: white;
    width: 365px;
    height:100px;
}
.userComment .userName,
.userComment .userStatus {
    float: left;
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(48, 112, 168);
    font-style: italic;
    margin: 10px;

}
.userComment .userStatus {
    float: right;
}
.userComment .userName:before {
    content: "- ";
}
hr{
    border:1px dotted #000000;
    clear: both;
    margin: 10px;
}
.userComment p {
    text-align: left;
    margin: 10px;
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(102, 102, 102);
    text-align: left;
    line-height: 1.538;
}

