a {
    color: #a64dff;
    text-decoration: none;
    margin: 5px;
    border: solid #999999 thin;
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
}

a:hover {
    background-color: #a64dff;
    color: white;
}
.navigate {
    border-style: none;
}