@import 'components/fonts';
@import 'components/style';
@import 'components/clearfix';
@import 'components/container';
@import 'components/header';
@import 'components/page-1';
@import 'components/main-nav';
@import 'components/page-2';
@import 'components/page-3';
@import 'components/main-form';
@import 'components/collapse-nav';
* {
	box-sizing: border-box;
}