.main-nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	padding-right: 70px;
}

.main-nav__item {
	list-style: none;
	padding: 0 0 0 65px;

	a {
		text-decoration: none;
		color: $text-color-white;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  position: relative;

	  &:before {
	  	content: "";
		  position: absolute;
		  z-index: -1;
		  left: 50%;
		  right: 50%;
		  bottom: -5px;
		  background: $text-color-green;
		  height: 4px;
		  transition-property: left, right;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
	  }
	  &:hover:before,
		&:focus:before,
		&:active:before {
		  left: 0;
		  right: 0;
		}
	}
}