.main-form {
	margin-top: 85px;
	padding-top: 85px;
	padding-bottom: 120px;
	border-radius: 3px;
	box-shadow: 0px 23px 103px 0px rgba(0, 0, 0, 0.15);

	h2 {
		padding-bottom: 110px;
		font-family: 'PantonBlack';
		span {
			color: #e9066b;
		}
	}

	.sale {
		font-family: 'PantonBlack';
		font-size: 72px;
		color: #61c25e;
		padding-top: 80px;
	}

	.condition {
		color: #454141;
		font-size: 18px;

		span {
			font-weight: bold;
		}
	}

	.description {
		color: #a19999;
		font-size: 14px;
	}
}

.main-form__input {
	padding: 0	60px 0 0;

	i {
		&.face-black:before {
			content: "\e906";
		}
		&.credit-card:before {
			content: "\e905";
		}
		&.calendar:before {
			content: "\e901";
		}
		&.fingerprint:before {
			content: "\e907";
		}
		&.mail:before {
			content: "\e908";
		}
		&.phone:before {
			content: "\e909";
		}

		&:before {
			font-size: 18px;
			color: #d7d7d7;
			position: absolute;
			right: 100%;
			padding-right: 10px;
			top: 50%;
			font-family: 'icomoon' !important;
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;
		}
	}
	input:focus {
		border-color: #e9066b;
	}
	input:invalid ~ i:before {
		color: #e9066b;
	}
	input:required:valid ~ i:before {
		color: green;
	}
	select ~ i:before {
		color: #e9066b;
	}


}

.main-form__submit {
	font-weight: bold;
	background: #e20467;
	border: none;
	border-radius: 55px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 45px auto 0;
	padding: 18px 35px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	transition: all .2s;

	&:hover {
		box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.35);
	}
}

.card-selection__title-img {
	max-width: 100%;
	max-height: 100%;
}

.card-selection__variants {
	background: url(../img/cards-frame.png) no-repeat center center;
	background-size: 380px;
	margin-top: 85px;

	p {
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

.card-selection__variant-img {
	display: inline-block;
	width: 20%;
	text-align: center;
	border-radius: 1px;
	cursor: pointer;
	transition: all 0.2s;

	img {
		width: 55px;
	}
}

.card-selection__variant-img:hover {
	transform: scale(1.55);
}