.page-1 {
	background-color: #f1f5f8;
	background-image: url(../img/page-1-bg.png);
	background-size: cover;
	position: relative;
	overflow: hidden;

	@media (max-width: 940px) {
		height: auto;
	}
}

.page-1__content {
	width: 555px;
	position: relative;

	h1 {
		font-family: 'PantonBlack';
		font-size: 45px;
		line-height: 1.2em;
		text-transform: uppercase;
		color: #fefefe;
		padding-bottom: 50px;
	}

	p {
		font-size: 18px;
		color: #fefefe;
		padding-bottom: 40px;
	}

	select {
		color: #fefefe;
		font-weight: bold;
	}

	.mui-select {
		width: 155px;
		padding-bottom: 100px;
	}
	@media (max-width: 940px) {
		text-align: center;
		width: 100%;
		h1 {
			font-size: 40px;
			padding-bottom: 10px;
		}
		p {
			padding-bottom: 20px;
		}
		.mui-select {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 35px;
		}
		p {
			font-size: 14px;
		}
		.mui-select {
			width: 90%;
		}
	}
}

.page-1__bg {
	position: absolute;
	left: 100%;
	top: 7px;

	@media (max-width: 940px) {
		display: none;
	}
}
.page-1__bg--litle {
	display: none;
	@media (max-width: 940px) {
		display: block;
		padding: 0;
		margin: 0 auto;
		border-radius: 5px;
	}
	@media (max-width: 768px) {
		width: 60%;
	}
}

.page-1__scroll:after {
	content: '';
	background: url(../img/scroll.png) no-repeat bottom center;
	background-size: contain;
	width: 13px;
	height: 38px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-right: 6.5px;
	transition: all 0.2s;
}

.page-1__scroll:hover:after {
	bottom: 12px;
}