div{
    background-color: #a64dff;
}

li{
    display: inline-block;
}
a{
    display: block;
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}
a:hover{
    background-color:#eee;
    color: #a0a0a2;
}
ul {
    width: 900px;
    margin: auto;
}

.float {
    float: right;
}