body {
	width: 60%;
	margin: 0 auto;
}
.header {
	background-color: blue;
}
.header__logo {
	float: left;
}
.header__title {
	float: right;
}

.main-content {
	overflow: hidden;
}
.col-middle {
	background-color: green;
	float: right;
	width: 70%;
}
.col-middle__img {
	float: left;
	width: calc(100%/3);
	box-sizing: border-box;
	padding: 0 5px;
}
.col-left {
	background-color: red;
	width: 30%;
}
.footer {
	text-align: center;
	background-color: blue;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}