body {
	width: 60%;
	margin: 0 auto;
}
.main-content {
	overflow: hidden;
}
.col-middle {
	background-color: green;
	text-align: justify;
	overflow: hidden;
}
.col-left {
	float: left;
	width: 20%;
	background-color: red;
	padding: 0 5px;
}
.col-right {
	float: right;
	width: 20%;
	background-color: orange;
	padding: 0 5px;
}
.header {
	text-align: center;
	background-color: blue;
}
.footer {
	text-align: center;
	background-color: blue;
}